.barraBuscador {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    /* Asegura que ocupe todo el ancho sin gaps */
}

.barraContenido {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #222;
    color: white;
    padding: 20px 0;
}

.barraContenido h2 {
  margin: 0;
}

.barraContenido input {
  margin: 0;
}

.buscadorContenedor {
    position: sticky;
    width: 30vw;
}

.tituloBuscador {
    margin: 0;
    font-size: 1.2rem;
}

.buscador {
    width: 30vw;
    padding: 0.5rem;
    font-size: 1rem;
}