<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description"
        content="Web dedicada a los juegos que me he platinado. Comentando sus características técnicas (que todo el mundo puede ver por ahí) como las sensaciones que me han producido y mis opiniones más sinceras.">
    <title>PlatinumScope</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.png">
    <link rel="stylesheet" href="../styles/review.css">
    </head>
    <body>
  <main class="review-container">
    <header>
        <img width="100%" height=200hv type="image/png" src="../assets/header.png" alt="Cabecera principal de la web">
    </header>
    <section class="cabecera">
      <h1 class="titulo"></h1>
    </section>

    <section class="ficha">
      <h2>Ficha técnica</h2>
      <ul class="ficha-minimos"></ul>
      <ul class="ficha-recomendados"></ul>
    </section>

    <section class="sinopsis-section">
      <h2>Sinopsis</h2>
      <p class="sinopsis"></p>
    </section>

    <section class="opinion-section">
      <h2>Opinión personal</h2>
      <article class="opinion-historia"></article>
      <article class="opinion-logros"></article>
      <article class="opinion-mecanicas"></article>
      <article class="opinion-conclusiones"></article>
    </section>

    <section class="enlaces">
      <h2>Comprar</h2>
      <ul class="enlaces-lista"></ul>
    </section>
  </main>

  <script src="../scripts/reviewLinkRender.js"></script>
</html>

