<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="description"
    content="Web dedicada a los juegos que me he platinado. Comentando sus características técnicas (que todo el mundo puede ver por ahí) como las sensaciones que me han producido y mis opiniones más sinceras.">
  <title>PlatinumScope</title>
  <link rel="icon" type="image/x-icon" href="../assets/favicon.png">
  <link rel="stylesheet" href="../styles/review.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap" rel="stylesheet">
</head>

<body>

  <div class="header-wrapper">
    <header>
      <img width="100%" height=200hv type="image/png" src="../assets/header.png" alt="Cabecera principal de la web">
    </header>
  </div>

  <main class="review-container">

    <section class="cabecera">
      <h1 class="titulo"></h1>
    </section>

    <section class="imagen-section">
      <img class="imagen" width="60%" height="300hv" type="image/png" src=""
        alt="Imagen dedicada al juego de la review">
    </section>

    <section class="ficha">
      <h2>Ficha técnica</h2>
      <ul class="ficha-minimos"></ul>
      <ul class="ficha-recomendados"></ul>
    </section>

    <section class="sinopsis-section">
      <h2>Sinopsis</h2>
      <p class="sinopsis"></p>
    </section>

    <section class="opinion-section">
      <h2>Opinión personal</h2>
      <article class="opinion-historia"></article>
      <article class="opinion-logros"></article>
      <article class="opinion-mecanicas"></article>
      <article class="opinion-conclusiones"></article>
    </section>

    <section class="enlaces">
      <h2>Comprar</h2>
      <ul class="enlaces-lista"></ul>
    </section>
  </main>

  <script src="../scripts/reviewLinkRender.js"></script>

</html>