.sinopsis {
    font-size: 20px;
    white-space: pre-line;
}

.sinopsis p {
    margin-top: 20px;
}

.sinopsis p:last-child {
    margin-bottom: 20px;
}

@media (max-width: 768px) {

  .sinopsis {
    font-size: 16px;
  }

  .sinopsis p {
    margin-top: 12px;
  }

  .sinopsis p:last-child {
    margin-bottom: 12px;
  }

}
