:root {
  --color-bg: #F0F8FF;
  --color-section: #DCEEFF;
  --color-border: #AACCEB;
  --color-primary: #5B9BD5;
  --color-primary-hover: #407EC9;
  --color-accent: #2C5F91;
  --color-text: #2B2D42;
  --color-text-light: #FFFFFF;
  --color-highlight: #56CCF2;
  --color-bg-footer: #1E3A8A
}

[data-theme="dark"] {
  --color-bg: #121820;
  /* Fondo general oscuro */
  --color-section: #1A2430;
  /* Secciones ligeramente más claras */
  --color-border: #334155;
  /* Bordes gris-azulados */
  --color-primary: #3B82F6;
  /* Azul vibrante */
  --color-primary-hover: #2563EB;
  /* Azul más intenso */
  --color-accent: #60A5FA;
  /* Azul suave para acentos */
  --color-text: #E2E8F0;
  /* Texto claro */
  --color-text-light: #FFFFFF;
  /* Texto muy claro */
  --color-highlight: #38BDF8;
  /* Azul celeste para resaltar */
  --color-bg-footer: #0F172A;
  /* Footer más oscuro */
}

/* Reset universal para evitar márgenes/paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* muy importante para evitar que padding/width se acumulen */
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease,
    box-shadow 0.35s ease;
}

html,
body {
  height: 100%;
  background-color: var(--color-bg);
  /* o tu color de fondo principal */
  color: var(--color-text);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.cabecera {
  display: block;
  /* Esto quita el espacio de 'line-height' que dejan las imágenes */
  width: 100%;
  height: 200px;
  /* Asegúrate de que coincida con el atributo del HTML o usa auto */
}

header {
  margin: 0;
  padding: 0;
  line-height: 0;
  /* Refuerzo para eliminar espacios internos */
}

.intro {
  width: 100%;
  max-width: 70vw;
  padding: 1rem;
  border-radius: 8px;

}

.intro article:first-of-type {
  margin-top: 5vh;
}

.intro article {
  margin-bottom: 2vh;
  padding-bottom: 2vh;
}

.intro article h2 {
  margin-bottom: 20px;
}

.resultados {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 31vw;
  list-style: none;
  color: black;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 1001;
  box-sizing: border-box;
}

.resultados.visible {
  display: block;
  width: 100%;
}

.resultados li {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  width: 100%;
}

.resultados li:hover {
  background: #f0f0f0;
}

.button-theme {
  padding: 8px;
}

.footer {
  background-color: #222;
  padding: 1rem;
  text-align: center;
  color: white;
}