body{
    margin: 0%;
    padding: 0%;
}

.barra-buscador{
  padding-bottom: 5vh;
}

.barra-contenido {
  margin: 0, auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;  
  width: 100vw;
  position: fixed;
  background-color: #222;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  z-index: 1000;
}

.titulo-buscador {
  margin: 0;
  font-size: 1.2rem;
}

.buscador {
  width: 60vw;
  max-width: 600px;
  padding: 0.5rem;
  font-size: 1rem;
}

.botones button {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
  cursor: pointer;
}


.resultados {
  position: absolute;
  background: white;
  width: 60vw;
  max-width: 600px;
  margin-top: 10px;
  list-style: none;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 1001;
}

.resultados li {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultados li:hover {
  background: #f0f0f0;
}
