:root {
  --color-bg: #F0F8FF;
  --color-section: #DCEEFF;
  --color-border: #AACCEB;
  --color-primary: #5B9BD5;
  --color-primary-hover: #407EC9;
  --color-accent: #2C5F91;
  --color-text: #2B2D42;
  --color-text-light: #FFFFFF;
  --color-highlight: #56CCF2;
  --color-bg-footer: #1E3A8A
}

[data-theme="dark"] {
  --color-bg: #121820;        /* Fondo general oscuro */
  --color-section: #1A2430;   /* Secciones ligeramente más claras */
  --color-border: #334155;    /* Bordes gris-azulados */
  --color-primary: #3B82F6;   /* Azul vibrante */
  --color-primary-hover: #2563EB; /* Azul más intenso */
  --color-accent: #60A5FA;    /* Azul suave para acentos */
  --color-text: #E2E8F0;      /* Texto claro */
  --color-text-light: #FFFFFF;/* Texto muy claro */
  --color-highlight: #38BDF8; /* Azul celeste para resaltar */
  --color-bg-footer: #0F172A; /* Footer más oscuro */
} 

/* Reset universal para evitar márgenes/paddings por defecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* muy importante para evitar que padding/width se acumulen */
}

html, body {
  height: 100%;
  background-color: var(--color-bg); /* o tu color de fondo principal */
  color: var(--color-text);
}

/* Hacemos que el body use flex para empujar el footer abajo */
body {
  display: flex;
  flex-direction: column;
  font-family: 'Fredoka', sans-serif;

}

/* El main ocupará todo el espacio disponible para empujar el footer al fondo */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; /* centra horizontalmente */

}

.barra-buscador {
  padding-bottom: 5vh;
}

.barra-contenido {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  position: fixed;
  right: 0vw;
  background-color: #222;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 1000;
}


.buscador-contenedor {
  position: relative;
  width: 30vw;
}

.intro {
  width: 100%;
  max-width: 70vw;
  padding: 1rem;
  border-radius: 8px;
}

.intro article:first-of-type{
  margin-top: 2vh;
}

.intro article{
  margin-bottom: 2vh;
}

.titulo-buscador {
  margin: 0;
  font-size: 1.2rem;
}

.buscador {
  width: 30vw;
  padding: 0.5rem;
  font-size: 1rem;
}


.resultados {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  width: 31vw;
  list-style: none;
  color: black;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  z-index: 1001;
  box-sizing: border-box;
}

.resultados.visible {
  display: block;
}

.resultados li {
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
}

.resultados li:hover {
  background: #f0f0f0;
}

.button-theme{
  padding: 8px;
}

/* Estilo para el footer corregido */
.footer {
  background-color: #222;
  padding: 1rem;
  text-align: center;
  color: white;
}
